.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-left: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--inverted-primary-color);
}
.collapsed {
    .link {
        display: none;
    }
}
