.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #11e911;
    --secondary-color: #238323;
    --inverted-primary-color: #0730ad;
    --inverted-secondary-color: #0753f7;
}
