:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #1042da;
    --secondary-color: #0c3896;
    --inverted-primary-color: #11e911;
    --inverted-secondary-color: #238323;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    --code-bg: #e4e3e3;

    --listbox-bg: #d5d5d7;
}
