.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #1042da;
    --secondary-color: #0c3896;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
