.app_spring_theme {
    --bg-color: #f4fbf8;
    --inverted-bg-color: #d57079; //#1cc8ce;
    --primary-color: #50b87d;
    --secondary-color: #f4fbf8;
    --inverted-primary-color: #f4fbf8; // #ff9142;
    --inverted-secondary-color: #50b87d;
}
