.app_spring_theme {
    --bg-color: #f4fbf8;
    --inverted-bg-color: #d57079; //#1cc8ce;
    --primary-color: #50b87d;
    --secondary-color: #d57079;
    --inverted-primary-color: #f4fbf8; // #ff9142;
    --inverted-secondary-color: #50b87d;

    // skeleton
    --skeleton-color: #92cdac;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    --code-bg: #fbe6e8;
}
