.CommentCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px var(--primary-color);
    padding: 20px;
    .avatar {
        display: flex;
        gap: 10px;
    }
}
.loading {
    border: none;
}
